<!-- <h2 style="text-align: center;">Timeline with Observable Plot</h2>

<div class="outer-plot">
  <div id="plot-container"></div>
</div> -->

<div class="content" #appRoot>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <!-- <div class="calendar-showcase">
    <ng-time-chart [groups]="groups" [layoutStrategy]="tiledLayoutStrategy">
    </ng-time-chart>
  </div> -->

  <div #tablePortalContainer class="calendar-showcase" style="margin-top: 100px">
    <h1>Calendar with dynamic length</h1>
    <div class="date-input">
      <label for="start-date">Start date:</label>
      <input #start_date type="date" id="start-date" name="start-date" (blur)="setStartDate(start_date.value)"
        value="2013-10-29">
    </div>
    <div class="date-input">
      <label for="end-date">End date:</label>
      <input #end_date type="date" id="end-date" name="end-date" (blur)="setEndDate(end_date.value)" value="2015-11-30">
    </div>
    <div class="overlay-container">
      <ng-time-chart [groups]="groups" [startDate]="startDate" [endDate]="endDate"
        [layoutStrategy]="tiledLayoutStrategy">
      </ng-time-chart>
    </div>
    <!-- [layoutStrategy]="tiledLayoutStrategy" (click)="handleClickOnItem($event)"> -->
    <!-- <app-custom-time-chart [groups]="groups" [startDate]="startDate" [endDate]="endDate"
    [layoutStrategy]="tiledLayoutStrategy"></app-custom-time-chart> -->
  </div>
</div>
<ng-template #ss>

</ng-template>