/* You can add global styles to this file, and also import other style files */
.type-covid {
    border-color: #cb1ec2;
    background-color: lighten(#3e1ecb, 35%);

    .blockade-day {
        background-color: #5b1ecb;
    }
}

// .calendar-showcase {
//     width: 33%;
//     float: left;

//     &.none {
//         .label-bar {
//             display: none;
//         }
//     }
// }
.timetable {
    min-height: 400px;
}

.type-no-visibility {
    border-color: #0d550a;
    background-color: lighten(#0d550a, 35%);

    .blockade-day {
        background-color: #0d550a;
    }

    .blockade-title {
        // color: lighten(#0d550a, 35%);
        height: 20px;
    }
}

/* Styles for the table */
.table-overlay {
    position: absolute;
    width: 100%;
    border-collapse: collapse;

    table {
        width: 100%;
        border: 1px solid #ddd;

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr td {
            background-color: white;
        }
        tr:hover {
            background-color: #f5f5f5;
        }
    }
}

// .overlay-container {
.overlay-container, .cdk-overlay-container {
    position: fixed;
    z-index: 1000;
    max-width: 100%;
}
.cdk-overlay-container {
    width: 300px;
    // background-color: white;
}
.overlay-container {
    // background-color: white;
}